<%- include('top_page') %>
<h1>הוספת משתמש</h1>
<form action="" method="post">
    <label for="name">שם </label>
    <input type="text" name="name" id="name" />
    <br>
    <label for="user_name">שם משתמש </label>
    <input type="text" name="user_name" id="user_name" />
    <br>
    <label for="email">מייל </label>
    <input type="email" name="email" id="email" />
    <br>
    <label for="password">סיסמה </label>
    <input type="text" name="password" id="password" />
    <br>
    <button name="btn">הרשמה</button>
</form>
<%- include('bottom_page') %>
