<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <style>
            td{
                width: 50px;
                height: 50px;
                border:1px solid black;
            }
        </style>
    </head>
    <title>Yoman_activities_kinneret</title>
    <body>
      <header></header>