<!doctype html>
<html lang="he">
    <head>
        <%- include('styles') %> 
    </head>
    <body dir="rtl">
        <header class="main-header">
            <nav class="main-nav">
                <div class="nav-logo">
                    <a href="/">מנהל המשימות</a>
                </div>

                <input type="checkbox" id="nav-toggle">
                <label for="nav-toggle" class="hamburger-menu">
                    &#9776; <!-- סמל המבורגר -->
                </label>

                <div class="nav-links">
                    <% if (typeof user !== 'undefined' && user) { %>
                        <!-- קישורים למשתמש מחובר -->
                        <span>שלום, <%= user.name %></span>
                        <a href="/tasks">ניהול משימות</a>
                        <a href="/categories">ניהול קטגוריות</a>
                        <a href="/users/edit/<%=user.id%>">עריכת פרופיל</a>
                        <% if (user.is_admin) { %>
                            <a href="/users">ניהול משתמשים</a>
                        <% } %>
                        <form action="/auth/logout" method="POST">
                            <button type="submit">התנתק</button>
                        </form>
                    <% } else { %>
                        <!-- קישורים למשתמש אורח -->
                        <a href="/auth/login">התחברות</a>
                        <a href="/auth/register">הרשמה</a>
                    <% } %>
                </div>
            </nav>
        </header>
        <main>
